*{
    margin:0;
    padding:0;
}
.logo{
    width:20%;
    border:2rem solid white ;
    border-radius: 4rem;

}
.navbar{
    display:flex;
    align-items: center;
    justify-content:center ;
    position:sticky;
    top:0;
    cursor:pointer;

}
.nav-list{
    display:flex;
    align-items: center;
    width: 50%;
    
}
.nav-list li{
    list-style: none;
    padding:1rem;

}
.nav-list li a:hover{
    text-decoration:none;
    color: black;
    

}
.rightNav{
    width:50%;
    text-align:right;
}
#search{
    padding:0.5rem;
    font-size:1rem;
    border:0.2rem solid grey;
    border-radius: 0.5rem;
}
.background{
background: rgba(0,0,0,0.7) url('../img/bgimage.jpg');
background-size: cover;
background-blend-mode: darker;
}
.firstSection{
    height: 100vh;
}
.box-main{
   display:flex;
   justify-content:center ; 
   align-items: center;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   max-width:50%;
   margin:auto;
   height:80%;
}
.firstHalf{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width:30%;
}
.secondHalf img{
    width:70%;
    border:0.1rem solid white;
    border-radius:5rem;
    display:block;
    margin:auto;
}
.text-big{
font-size: 4rem;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
}
.text-small{
font-size: 2rem;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 4rem;
}

.sectionTag{
    padding: 1rem 0;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: italic;
}

.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
}

.contact{
    background-color: #f6f5f4;
    height: 833px;
}
.text-center{

    text-align: center;
    padding-top: 2rem;
   font-family: 'Ubuntu', sans-serif;
       font-size: 2rem;
}

.form{
    max-width: 62%;
    margin: 2rem auto;
}

.form-input{
    margin: 1rem 0;
    padding: 0.1rem 1rem;
    width: 100%; 
    font-size: 19px;
    border: 0.1 solid grey;
    border-radius: 0.1rm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
    text-align: center;
    padding: 2rem 0;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: white;
   
}
.line{
    width: 2rem;
    background-color: white;
    height: 0.1rem;
    margin: 0.2rem 0.1rem;
}

